<div class="row">
    <h1>Actions</h1>

    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Price</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody>
            {{#each actions}}
                <tr>
                    <td>{{type}}</td>
                    <td>R{{cost}}</td>
                    <td>{{timestamp}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>